$primary-pink: #ff15ff;
$primary-golden: #ffc47d;
$primary-violet: #4700ea;
$primary-purple: #0000b6;
$primary-light-gray: #f3f3f3;
$dark-font-color-60: hsla(259, 81%, 6%, 0.6);
$dark-font-color: #0b031c;
$error-color: #ca1735;
$dark-gradient: linear-gradient(0deg, rgba(11,3,28,1) 0%, rgba(84,77,100,1) 100%);
$pink-gradient: linear-gradient(-35deg, rgba(255,21,255,1) 0%, rgba(255,196,125,1) 100%);
$pink-gradient-90: linear-gradient(90deg, rgba(255,21,255,1) 0%, rgba(255,196,125,1) 100%);
$violet-gradient: linear-gradient(35deg, rgba(0,0,234,1) 0%, rgba(255,21,255,1) 100%);
$violet-gradient-90: linear-gradient(-90deg, rgba(0,0,234,1) 0%, rgba(255,21,255,1) 100%);
$font-Inter: 'Inter', sans-serif;